graph {
    padding: 40px;
    text-font: "Fira Sans Light";
    /*fill-color: rgba(230, 230, 230, 100);*/
}

node {
    shape: box;
    fill-color: rgba(230, 230, 230, 255);
    /*stroke-mode: plain;*/
    /*stroke-width: 1px;*/
    padding: 3px, 2px, 5px, 0px;
    text-font: "Fira Sans Light";
    text-size: 14px;
    size-mode: fit;
}

edge {
    stroke-width: 1px;
}


node.cwe {
    fill-color: rgb(11, 36, 251);
    size: 4px;
}


node.focus {
    stroke-color: rgba(255, 15, 25, 125);
}

node.path {
    fill-color: rgba(255, 15, 25, 125);
}

edge.path {
    fill-color: rgba(255, 15, 25, 125);
}

edge.hide {
    fill-color: #0007;
}

node.hide {
    fill-color: #DEE7;
    text-color: #0007;
    stroke-color: #0007;
}

node:selected {
    stroke-mode: plain;
    stroke-color: #222;
    stroke-width: 1px;
}

edge.focus {
    stroke-color: rgba(255, 15, 25, 125);
}

edge {
    arrow-shape: arrow;
    fill-color: rgb(115, 115, 115);
    size: 2px;
}

